# Compiled Object files
*.slo
*.lo
*.o
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

SP3_Base_Team05/Base.sdf
SP3_Base_Team05/Base.opensdf
SP3_Base_Team05/Base.sdf
SP3_Base_Team05/Base/Debug/Base.tlog/Base.lastbuildstate
SP3_Base_Team05/Base/Debug/Base.tlog/CL.read.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/CL.write.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/cl.command.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/link.command.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/link.read.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/link.write.1.tlog
SP3_Base_Team05/Base/Debug/vc120.idb
SP3_Base_Team05/Common/Debug/Common.tlog/CL.read.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/CL.write.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/Common.lastbuildstate
SP3_Base_Team05/Common/Debug/Common.tlog/Lib-link.write.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/Lib.read.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/cl.command.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/lib.command.1.tlog
SP3_Base_Team05/Common/Debug/vc120.idb
SP3_Base_Team05/Base.sdf
SP3_Base_Team05/Base.opensdf

#logs
*.tlog
*.pdb
*.opensdf
*.sdf
*.idb
*.v12.suo
SP3_Base_Team05/Base/Debug/Application.obj
SP3_Base_Team05/Base/Debug/Button.obj
SP3_Base_Team05/Base/Debug/Camera.obj
SP3_Base_Team05/Base/Debug/Controls.obj
SP3_Base_Team05/Base/Debug/DepthFBO.obj
SP3_Base_Team05/Base/Debug/Detlaff.obj
SP3_Base_Team05/Base/Debug/Enemy.obj
SP3_Base_Team05/Base/Debug/Entity.obj
SP3_Base_Team05/Base/Debug/GameObject.obj
SP3_Base_Team05/Base/Debug/GolemHand.obj
SP3_Base_Team05/Base/Debug/GolemHead.obj
SP3_Base_Team05/Base/Debug/Inventory.obj
SP3_Base_Team05/Base/Debug/LoadHmap.obj
SP3_Base_Team05/Base/Debug/LoadOBJ.obj
SP3_Base_Team05/Base/Debug/LoadTGA.obj
SP3_Base_Team05/Base/Debug/Mesh.obj
SP3_Base_Team05/Base/Debug/MeshBuilder.obj
SP3_Base_Team05/Base/Debug/MeshManager.obj
SP3_Base_Team05/Base/Debug/Particle.obj
SP3_Base_Team05/Base/Debug/Player.obj
SP3_Base_Team05/Base/Debug/Projectile.obj
SP3_Base_Team05/Base/Debug/ProjectileList.obj
SP3_Base_Team05/Base/Debug/Rope.obj
SP3_Base_Team05/Base/Debug/SceneBase.obj
SP3_Base_Team05/Base/Debug/SceneDetlaff.obj
SP3_Base_Team05/Base/Debug/SceneGolem.obj
SP3_Base_Team05/Base/Debug/SceneSnakeBoss.obj
SP3_Base_Team05/Base/Debug/SceneSummoner.obj
SP3_Base_Team05/Base/Debug/SceneText.obj
SP3_Base_Team05/Base/Debug/SnakeBody.obj
SP3_Base_Team05/Base/Debug/SnakeHead.obj
SP3_Base_Team05/Base/Debug/SpriteAnimation.obj
SP3_Base_Team05/Base/Debug/Summoner.obj
SP3_Base_Team05/Base/Debug/Summons.obj
SP3_Base_Team05/Base/Debug/TileMap.obj
SP3_Base_Team05/Base/Debug/Utility.obj
SP3_Base_Team05/Base/Debug/Weapon.obj
SP3_Base_Team05/Base/Debug/WeaponList.obj
SP3_Base_Team05/Base/Debug/main.obj
SP3_Base_Team05/Base/Debug/shader.obj
SP3_Base_Team05/Common/Debug/MathUtility.obj
SP3_Base_Team05/Common/Debug/MatrixStack.obj
SP3_Base_Team05/Common/Debug/Mtx44.obj
SP3_Base_Team05/Common/Debug/Vector2.obj
SP3_Base_Team05/Common/Debug/Vector3.obj
SP3_Base_Team05/Common/Debug/timer.obj
SP3_Base_Team05/Base/Debug/Trap.obj
