# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
SP3_Base_Team05/Base.opensdf
SP3_Base_Team05/Base.sdf
SP3_Base_Team05/Base/Debug/Base.tlog/Base.lastbuildstate
SP3_Base_Team05/Base/Debug/Base.tlog/CL.read.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/CL.write.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/cl.command.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/link.command.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/link.read.1.tlog
SP3_Base_Team05/Base/Debug/Base.tlog/link.write.1.tlog
SP3_Base_Team05/Base/Debug/vc120.idb
SP3_Base_Team05/Common/Debug/Common.tlog/CL.read.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/CL.write.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/Common.lastbuildstate
SP3_Base_Team05/Common/Debug/Common.tlog/Lib-link.write.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/Lib.read.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/cl.command.1.tlog
SP3_Base_Team05/Common/Debug/Common.tlog/lib.command.1.tlog
SP3_Base_Team05/Common/Debug/vc120.idb
